STRIPE_SECRET_KEY=TODO_replace_me
STRIPE_WEBHOOK_SECRET=TODO_replace_me
CART_COOKIE_SECRET=TODO_replace_me
CMS_SPACE_URL=TODO_replace_me
CMS_ACCESS_TOKEN=TODO_replace_me
SANITY_API_VERSION=2025-01-01
